@charset "utf-8";



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.menu-navegacion{
    float: left;
    margin-right: 50px;
}


.menu a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    
}

li{
    margin-bottom: 10px;
    border: 1px solid #000;
    list-style: none;
}

h1 {
    margin-top: 20px;
    margin-left: 70px;
    font-size: 16px;
}

h2{
    margin-left: 320px;
    margin-top: 25px;
    font-size: 20px;
}


p{
    margin-left: 20rem;
}




